h1 {
    color: #333333;
}

li {
    background-color: chocolate;
}

ul > ul > li {      /*ul 자식 ul 자식 li에 적용  */
    background-color: blueviolet;
}


ul > li {          /* ul 바로 아래 자식 li에 적용 */
    background-color: aquamarine;
}


.korea {
    color: blue;
}

.japan {
    color: crimson;
}

.incheon {
    color: darkblue;
}

#leader {
    color: gold;
}
li:first-child {        /* 첫째인데 li인 아이 */
    font-weight: bold;
}
li:last-child {         /* 막내인데 li인 아이*/
    font-style: italic;
    color: darkseagreen;
}
li:nth-child(3) {
    color: hotpink;
}
li:nth-child(2n) {      /*짝수 번째인데 li인 아이*/
    background-color: aliceblue;
}
h1, h3{                 /**h1과 h3에 모두 적용/
    /* background-color: gainsboro; */
    
}

h1 + h2 {           /*h1과 h2가 자매여야함. h2바로 아랫자매가 h3*/
    background-color: yellow;
}

h1 ~ h3 {           /* h1과 h3가 자매여야함. h1 아랫자매 모든 h3에 적용*/
    background-color: greenyellow;
}

[type = "text"] {           /* type 속성의 값이 text인 요소에 적용 */
    background-color: lavender;
}

/* li  홀수번째 자매 중 li인 애들 적용*/
li:nth-child(2n-1) {
    font-size: 40px;
}
/* 홀수 : odd, 2n-1*/
li:nth-child(odd) {
    font-size: 8px;
}
/* 짝수 even, 2n */
li:nth-child(even) {
    font-weight: 200px;
}

/* Honey Tip */
body > ul:nth-child(21) > ul:nth-child(4) {
    font-size: 200px;
}

body > ul:nth-child(25) > li.japan {
    font-size: 100px;
}